{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_custom.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="carousel">
            <div class="carousel__face"><span>Madrid</span></div>
            <div class="carousel__face"><span>Tokyo</span></div>
            <div class="carousel__face"><span>Paris</span></div>
            <div class="carousel__face"><span>Alger</span></div>
            <div class="carousel__face"><span>Rio</span></div>
            <div class="carousel__face"><span>Colombie</span></div>
            <div class="carousel__face"><span>Mexique</span></div>
            <div class="carousel__face"><span>Amerique</span></div>
            <div class="carousel__face"><span>Portugal</span></div>
        </div>
    </div>

    
</body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
</html>
